
<div class="columns">
  <div class="column is-half">
    <div class="hero is-danger is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  Examples
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">Hi, I'm <%= @user.username %></h1>
          <p class="title is-5"><%= @user.email %></p>
          <%= avatar @user, class: 'is-rounded', size: 256 %>
          <p class="heading">Posts</p>
          <p class="title is-2"><%= @user.posts.count %></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="column is-half has-background-light messages">
    <!-- Comment box if logged in-->
    <% if current_user == @user %>
      <%= form_for(:post, url: '#') do |f| %>
        <div class="field">
          <div class="control">
            <%= f.text_field :title, class: 'input', placeholder: 'Title' %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.text_area :content, class: 'input', placeholder: 'Content' %>
          </div>
        </div>

        <%= f.submit 'Create', class: 'button is-danger'%>
      <% end %>
    <% end %>
    
    <!-- Message Display -->
    <% @user.posts.each do |post| %>
      <div class="message is-<%= random_color %>">
        <div class="message-header">
          <%= post.title %>
          <button class="delete"></button>
        </div>
        <div class="message-body">
          <em>On <%= format_date_time(post.created_at) %></em>
          <p>
            <%= post.content %>
          </p>
      </div>
    <% end %>
  </div>
</div>

