<section class="hero is-large is-primary">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1>Micropost</h1>
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to 'All posts','#', class: 'navbar-item'%>
            <% if user_signed_in? %>
              <%= link_to 'Create post', '#', class: 'navbar-item'%>
              <%= link_to 'Log out', destroy_user_session_path, class: 'navbar-item', method: :delete%>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome To Microposts
      </h1>
      <h2 class="subtitle">
        A minimum social media platform
      </h2>
      <div class="are-medium">
        <% unless user_signed_in? %>
          <%= link_to 'Login', new_user_session_path, class: 'button is-info is-large is-rounded' %>
        <% end %>

        <%= link_to 'View', '#', class: 'button is-warning is-rounded is-large' %>
      </div>
    </div>
  </div>
</section>